
<section class="section">
  <section class="section is-size-5 box">
    <h3 class="has-text-centered">Your Store Discounts</h3>
    <ul>
      <% @discounts.each do |discount| %>
        <li><%= link_to "#{discount.name}", merchant_discount_path(@merchant, discount.id)%></li>
        <p>Quantity Threshold: <%= discount.quantity_threshold %><br>
        Discount Amount: <%= number_to_percentage(discount.percentage, strip_insignificant_zeros: true) %></p>
      <% end %>
    </ul>
  </section>
</section>