<h3 class="has-text-centered"><%= @discount.name %></h3>

<section class="section">
  <p class="is-size-4">Quantity Threshold: <%= @discount.quantity_threshold %></p>
  <p class="is-size-4">Discount Amount: <%= number_to_percentage(@discount.percentage, strip_insignificant_zeros: true) %></p>
</section>